# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Data
data/processed/
data/raw/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Git LFS attributes
.gitattributes
